<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form action="/songs/<%=@song.slug%>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label>Edit Artist Name</label>
  <input type="text" name="Artist Name" value="<%=@artist.name%>">

  <label>Edit Song Name</label>
  <input type="text" name="song_name" value="<%=@song.name%>">

  <label>Genres</label>
  <% Genre.all.each do |g| %>
  <input id="<%= g.name %>" type="checkbox" name="genre[]" value="<%= g.id %>" <%='checked' if @song.genres.include?(g) %><%=g.name%>>
  <% end %>
  <input type="submit" value="Save">

</form>
