<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1> Song details: </h1>
<li> <%= @song.name %> </li>
<li> <a href="/artists/<%= @artist.slug %>"><%= @artist.name %></a> </li>
<% @genres.each do |genre| %>
<li> <a href="/genres/<%= genre.slug %>"><%= genre.name %></a> </li>
<% end %>
